pip3 install asgiref
pip3 install asttokens
pip3 install backcall
pip3 install 
pip3 install certifi
pip3 install charset-normalizer
pip3 install colorama
pip3 install comm
pip3 install crispy-bootstrap5
pip3 install debugpy
pip3 install decorator
pip3 install Django
pip3 install django-mathfilters
pip3 install django-monthfield
pip3 install executing
pip3 install google-api-core
pip3 install google-api-python-client
pip3 install google-auth
pip3 install google-auth-httplib2
pip3 install google-auth-oauthlib
pip3 install googleapis-common-protos
pip3 install gunicorn
pip3 install httplib2
pip3 install idna
pip3 install ipykernel
pip3 install ipython
pip3 install jedi
pip3 install jupyter_client
pip3 install jupyter_core
pip3 install matplotlib-inline
pip3 install nest-asyncio
pip3 install oauthlib
pip3 install packaging
pip3 install parso
pip3 install pickleshare
pip3 install Pillow
pip3 install platformdirs
pip3 install prompt-toolkit
pip3 install protobuf
pip3 install psutil
pip3 install psycopg2
pip3 install pure-eval
pip3 install pyasn1
pip3 install pyasn1-modules
pip3 install Pygments
pip3 install pyparsing
pip3 install python-dateutil
pip3 install pytz
pip3 install pyzmq
pip3 install requests
pip3 install requests-oauthlib
pip3 install rsa
pip3 install six
pip3 install sqlparse
pip3 install stack-data
pip3 install tornado
pip3 install traitlets
pip3 install tzdata
pip3 install uritemplate
pip3 install urllib3
pip3 install wcwidth
pip3 install zcache
