{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        {% if request.user.is_staff %}
            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img/logo.png'%}" alt="">
                <span class="d-none d-lg-block">SPK Karyawan</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        {% else %}
                <a href="{% url 'home1' %}" class="logo d-flex align-items-center">
                    <img src="{% static 'assets/img/logo.png'%}" alt="">
                    <span class="d-none d-lg-block">SPK Karyawan</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
        {% endif %}
    </div><!-- End Logo -->


{% if messages %}
<div id="message_container">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}

    </div>
    {% endfor %}
</div>
{% endif %}
<script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function () { message_ele.style.display = "none"; }, 3000);
</script>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">


            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{% static 'assets/img/profile-img.jpg'%}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{ request.user.nama }}</h6>
                        <span>{{ request.user.email }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'profil_karyawan' request.user.id %}">
                            <i class="bi bi-person"></i>
                            <span>Profileku</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>



                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <!-- Data Dashboard Nav -->
        {% if request.user.is_staff %}
            {% if page == 'home' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'home' %}">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard/Home</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'home' %}">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard/Home</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if page == 'home1' %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'home1' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard/Home</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'home1' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard/Home</span>
                </a>
            </li>
            {% endif %}
        {% endif %}
        <!-- End Dashboard Nav -->
        {% if request.user.is_staff %}
            <!-- Data Karyawan Nav -->
            {% if page == 'karyawan' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'data_karyawan' %}">
                        <i class="bi bi-menu-button-wide"></i>
                        <span>Data Karyawan</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'data_karyawan' %}">
                        <i class="bi bi-menu-button-wide"></i>
                        <span>Data Karyawan</span>
                    </a>
                </li>
            {% endif %}
            <!-- End Data Karyawan Nav -->
            <!-- Disiplin Nav -->
            {% if page == 'disiplin' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'disiplin' %}">
                        <i class="bi bi-journal-text"></i>
                        <span>Data Disiplin / Pelanggaran</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'disiplin' %}">
                        <i class="bi bi-journal-text"></i>
                        <span>Data Disiplin / Pelanggaran</span>
                    </a>
                </li><!-- End Dashboard Nav -->
            {% endif %}
            <!-- End Disiplin Nav -->



            <!-- Kehadiran Nav -->
            {% if page == 'kehadiran' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'kehadiran' %}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Kehadiran</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'kehadiran' %}">
                        <i class="bi bi-layout-text-window-reverse"></i>
                        <span>Kehadiran</span>
                    </a>
                </li>
            {% endif %}
            <!-- End Kehadiran Nav -->

            <!-- Performa Penjualan Nav -->
            {% if page == 'performa_penjualan' %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'performapenjualan' %}">
                        <i class="bi bi-envelope"></i>
                        <span>Performa Penjualan</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{% url 'performapenjualan' %}">
                        <i class="bi bi-envelope"></i>
                        <span>Performa Penjualan</span>
                    </a>
                </li>
            {% endif %}
            <!-- Performa Penjualan Nav -->
            {% if page == 'ahp' %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'nilai_ahp' %}">
                    <i class="bi bi-envelope"></i>
                    <span>Halaman AHP</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'nilai_ahp' %}">
                    <i class="bi bi-envelope"></i>
                    <span>Halaman AHP</span>
                </a>
            </li>
            {% endif %}
            <!-- End Performa Penjualan Nav -->
        {% endif %}



    </ul>

</aside><!-- End Sidebar-->