{% extends 'main.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Karyawan</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Data Karyawan</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                                <div class="card-body">
                                    <h5 class="card-title">Data Karyawan <span>| Total Karyawan {{user.count}}</span></h5>
                                    <a type="button" class="btn btn-success" href="{% url 'tambah_karyawan' %}"><strong>+</strong> Tambah Karyawan</a>
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nama Karyawan</th>
                                                <th scope="col">Email Karyawan</th>
                                                <th scope="col">Nilai Pengetahuan Produk</th>
                                                <th scope="col">Skala Pengetahuan</th>
                                                <th scope="col">Brand</th>
                                                <th scope="col">Tanggal Masuk</th>
                                                <th scope="col">Edit/Hapus</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in user %}
                                            <tr>
                                                <th scope="row"><a href="{% url 'ubahkaryawan' user.id %}">{{ user.nama }}</a></th>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.nilai_pengetahuan_produk|floatformat:"0" }}</td>
                                                {% if user.brand == 'L\'oreal' or user.brand == 'Clinelle' %}
                                                    <td><strong>0-100</strong></td>
                                                {% elif user.brand == 'Garnier' %}
                                                    <td><strong>0-5</strong></td>
                                                {% else %}
                                                    <td><strong>0-10</strong></td>
                                                {% endif %}
                                                <td>{{ user.brand }}</td>
                                                <td>{{ user.tgl_masuk|date:"D d M Y" }}</td>
                                                <td>
                                                    <a href="{% url 'ubahkaryawan' user.id %}"type="button" class="btn btn-secondary rounded-pill btn-sm">Ubah</a>
                                                    <a href="{% url 'hapuskaryawan' user.id %}"type="button" class="btn btn-danger rounded-pill btn-sm">Hapus</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    
                                
                                </div>
                    </div>
                </div>

        </div>
    </section>

</main><!-- End #main -->
{% endblock content %}