{% extends 'main.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home1' %}">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">
                        
                        <!-- Data Pegawai -->
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">
                        
                                <div class="filter">
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        <li class="dropdown-header text-start">
                                            <h6>Filter</h6>
                                        </li>
                        
                                        <li><a class="dropdown-item" href="#">Today</a></li>
                                        <li><a class="dropdown-item" href="#">This Month</a></li>
                                        <li><a class="dropdown-item" href="#">This Year</a></li>
                                    </ul>
                                </div>
                        
                                <div class="card-body">
                                    <h5 class="card-title">Nilai {{ penilaian.nama }} <span>| Karyawan Dengan Email: {{ request.user.email}} </span></h5>
                                    
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th scope="col">id</th>
                                                <th scope="col">Nama Karyawan</th>
                                                <th scope="col">Nilai performa Penjualan</th>
                                                <th scope="col">Kategori Performa Penjualan</th>
                                                <th scope="col">Nilai Pengetahuan Produk</th>
                                                <th scope="col">Nilai Disiplin</th>
                                                <th scope="col">Nilai Kehadiran</th>
                                                <th scope="col">Nilai Masa Kerja</th>
                                                <th scope="col">Kategori Masa Kerja</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                <th scope="row">{{ penilaian.id }}</th>
                                                <td>{{ penilaian.nama }}</td>
                                                <td>{{ penilaian.nilai_performa_penjualan|floatformat:"0" }}</td>
                                    
                                                {% if penilaian.nilai_performa_penjualan < 0 %} <td>
                                                    Nilai SALAH !!
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 0 %}
                                                    <td>
                                                        Performa Buruk
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 1 or penilaian.nilai_performa_penjualan == 2 %}
                                                    <td>
                                                        Tidak Melebihi Target
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 3 or penilaian.nilai_performa_penjualan == 4 %}
                                                    <td>
                                                        Sesuai Target
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 5 or penilaian.nilai_performa_penjualan == 6%}
                                                    <td>
                                                        Melebihi Target
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 7 or penilaian.nilai_performa_penjualan == 8 %}
                                                    <td>
                                                        Performa Baik
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan == 9 or penilaian.nilai_performa_penjualan == 10 %}
                                                    <td>
                                                        Performa sangat Baik
                                                    </td>
                                                    {% elif penilaian.nilai_performa_penjualan > 10 %}
                                                    <td>
                                                        Nilai SALAH !!
                                                    </td>
                                                    {% endif %}
                                                    <td>{{ penilaian.nilai_pengetahuan_produk|floatformat:"1" }}</td>
                                                    <td>{{ penilaian.nilai_disiplin|floatformat:"0" }}</td>
                                                    <td>{{ penilaian.nilai_kehadiran|floatformat:"0" }}</td>
                                                    <td>{{ penilaian.nilai_masa_kerja|floatformat:"0" }}</td>
                                                    {% if penilaian.nilai_masa_kerja == 0 %}
                                                    <td>
                                                        Kurang dari 1 Tahun
                                                    </td>
                                                    {% elif penilaian.nilai_masa_kerja == 1%}
                                                    <td>
                                                        Lebih dari 1 Tahun, di bawah 2 Tahun
                                                    </td>
                                                    {% elif penilaian.nilai_masa_kerja == 2 %}
                                                    <td>
                                                        Lebih dari 2 tahun, di bawah 5 Tahun
                                                    </td>
                                                    {% elif penilaian.nilai_masa_kerja == 3 %}
                                                    <td>
                                                        Lebih dari 5 tahun, di bawah 10 Tahun
                                                    </td>
                                                    {% elif penilaian.nilai_masa_kerja == 4 %}
                                                    <td>
                                                        Lebih dari 10 tahun, di bawah 15 Tahun
                                                    </td>
                                                    {% elif penilaian.nilai_masa_kerja == 5 %}
                                                    <td>
                                                        Lebih dari 15 Tahun
                                                    </td>
                                                    {% endif %}
                                                    
                                            </tr>
                                            
                                    
                                        </tbody>
                                    </table>
                                    
                                    
                                </div>
                        
                            </div>
                        </div>
                        <!-- End Data Pegawai Sales -->
                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Perincian Nilai <span>| {{ disiplin.bulan_disiplin }}</span></h5>

                            <div class="activity">
                                <strong>Nilai Kehadiran</strong>
                                <div class="activity-item d-flex">
                                    
                                    <div class="activite-label"> 
                                    {% if kehadiran.hari_masuk|div:kehadiran.banyak_hari > 100 %}
                                    100 %
                                    {% else %}
                                    {{ kehadiran.hari_masuk|div:kehadiran.banyak_hari|mul:100|floatformat:"0" }} %
                                    {% endif %}
                                    </div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        {{ kehadiran.hari_masuk}} Hari Masuk / {{ kehadiran.banyak_hari}} Banyak Hari
                                    </div>
                                </div><!-- End activity item-->
                                <strong>Nilai Disiplin</strong>
                                <div class="activity-item d-flex">
                                    <div class="activite-label">{{ disiplin.kuota_disiplin|div:5|mul:100|floatformat:"0" }} %</div>
                                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                    <div class="activity-content">
                                        {{ disiplin.kuota_disiplin}} <strong>-</strong> {{ disiplin.nilai_pelanggaran}} = {{ disiplin.kuota_disiplin|sub:disiplin.nilai_pelanggaran}}
                                    </div>
                                </div><!-- End activity item-->
                                Nilai Performa Penjualan
                                <div class="activity-item d-flex">
                                    <div class="activite-label">{{ penilaian.nilai_performa_penjualan|floatformat:"0" }}</div>
                                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                    <div class="activity-content">
                                        Barang Brand Sendiri Yang Dijual: {{ performa_penjualan.jual_brands }} 
                                        <br>
                                        {% if performa_penjualan.jual_brands < 80%}
                                            Nilai = 0
                                        {% elif performa_penjualan.jual_brands >= 80 and performa_penjualan.jual_brands < 95 %}
                                            Nilai = 1
                                        {% elif performa_penjualan.jual_brands >= 95 and performa_penjualan.jual_brands < 100 %}
                                            Nilai = 2
                                        {% elif performa_penjualan.jual_brands >= 100 and performa_penjualan.jual_brands < 110 %}
                                            Nilai = 3
                                        {% elif performa_penjualan.jual_brands >= 110 and performa_penjualan.jual_brands < 120 %}
                                            Nilai = 4
                                        {% elif performa_penjualan.jual_brands >= 120 %}
                                            Nilai = 5
                                        {% endif %}
                                        <hr>
                                        Barang Brand lain Yang Dijual: {{ performa_penjualan.jual_brands_lain }}
                                        {% if performa_penjualan.jual_brands_lain < 300 %}
                                            Nilai = 0
                                        {%elif performa_penjualan.jual_brands_lain >= 300 and performa_penjualan.jual_brands_lain < 350 %}
                                            Nilai = 1
                                        {% elif performa_penjualan.jual_brands_lain >= 300 and performa_penjualan.jual_brands_lain < 350 %}
                                            Nilai = 2
                                        {% elif performa_penjualan.jual_brands_lain >= 350 and performa_penjualan.jual_brands_lain < 400 %}
                                            Nilai = 3
                                        {% elif performa_penjualan.jual_brands_lain >= 400 and performa_penjualan.jual_brands_lain < 450 %}
                                            Nilai = 4
                                        {% elif performa_penjualan.jual_brands_lain >= 450 %}
                                            Nilai = 5
                                        {% endif %}
                                        <hr>                                        
                                        Nilai Performa Penjualan didapatkan dengan rumus (Nilai Jual Barang Brand + Nilai Jual Barang Brand Lain) / 2
                                        dijual
                                        <br>

                                    </div>
                                </div><!-- End activity item-->

                            </div>

                        </div>
                    </div><!-- End Recent Activity -->


                </div><!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->
{% endblock content %}